
<p>Preguntas: <%= preg%></p>
<p>Comentarios: <%= comments%></p>
<p>Numero medio de comentarios por pregunta: <%= media%></p>
<p>Preguntas con comentario: <%= wComment%></p>
<p>Preguntas sin comentario: <%= noComment%></p>
