<table>
<% var i; for(i=0; i < quizes.length; i++) { %>
	<tr>
		<td><a href="/quizes/<%=quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
		<%if(session.user){ %>
		<td>
				<form method="post" action="/user/<%= session.user.id %>/favourites/<%= quizes[i].id%>?_method=put">
				<button type="submit">
					Me gusta
				</button>
				</form>				
			</td>

            <% if(session.user.isAdmin || session.user.id === quizes[i].UserId) {%>
			<td><a href="/quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
			<td>
				<form method="post" action="/quizes/<%= quizes[i].id %>?_method=destroy">
				<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
						borrar
					</button>
				</form>				
			</td>
		<% } } %>
	</tr>
<% } %>
</table>

<table>
	<tr><form method="get" action="/quizes" >
		<input type="text" name="search"/>
		<input type="submit" value="Buscar"/>
		</form><br>
	</tr>
	<% if(session.user){%>
		<tr><a href="/quizes/new"><button type="button">Crear pregunta</button></a></tr>
	<% } %>
</table>
